<form class="row g-3 p-5" action="/students" method="post">
  <div><h2 class="text-primary fw-bold">Yangi o’quvchi qo’shish</h2></div>
  <div class="col-md-4">
    <label for="inputEmail4" class="form-label">O’quvchi ismi</label>
    <input
      type="text"
      class="form-control"
      id="inputEmail4"
      name="first_name"
      placeholder="O’quvchi ismi"
      pattern="[A-Za-z]{3,15}"
      title="Eng kami 3ta harif bolsin eng kopi 15ta harif bolsin"
      required
    />
  </div>
  <div class="col-md-4">
    <label for="inputPassword4" class="form-label">Telefon raqam</label>
    <input
      type="text"
      class="form-control"
      id="inputPassword4"
      name="phone"
      value="+998"
      pattern="^\+998[3-9][0-9][0-9]{3}[0-9]{2}[0-9]{2}"
      title="Faqat son kiriting"
      placeholder="Telefon raqam"
      required
    />
  </div>
  <div class="col-4">
    <label for="inputAddress" class="form-label">Yo’nalish</label>
    <select class="form-select" name="direction" id="inputAddress">
      <% group?.forEach(e => { %>
      <option value="<%= e.group_name %>"><%= e.group_name %></option>
      <% }) %>
    </select>
  </div>
  <div class="col-md-4">
    <label for="class_days" class="form-label">Dars kunlari</label>
    <select name="class_days" id="class_days" class="form-select">
      <% group?.forEach(e => { %>
      <option value="<%= e.class_days %>"><%= e.class_days%></option>
      <% }) %>
    </select>
  </div>
  <div class="col-md-4">
    <label for="class_time" class="form-label">Dars vaqti</label>
    <select name="class_time" id="class_time" class="form-select">
      <% group?.forEach(e => { %>
      <option value="<%= e.class_time %>"><%= e.class_time %></option>
      <% }) %>
    </select>
  </div>
  <div class="col-md-4">
    <label for="inputPassword2" class="form-label transparent"
      >Dars vaqti</label
    >
    <button type="submit" class="btn btn-primary btn_widht">Qo’shish</button>
  </div>
</form>
